  <h1> Welcome to Simple Onboarding App</h1> 
  <p> To get started, modify the app.component.html file as you need.</p> 
  <p> Then simply use the attribute tooltip with attributes step and text in any element to pop up a tooltip for that element. </p>

  <div tooltip step="1">
    <p> For example, this tooltip is the result of adding tooltip step="1" to this element. </p>
  </div>
  <p> A tooltip will appear below the desired element (or above if there isn't enough space in the view port) </p>
  <p> If you don't provide a step number, all your tooltips will appear all at once, instead of a click-through tour.</p>

  <br>


  <div tooltip step="2">
    <p> This is an example form. This tooltip is the result of adding tooltip step="2" to the div element containing this form.</p>
    <input 
    type="text" 
    class="form-control"
    [(ngModel)]="Dummy">
  </div>
 
