<!--TODO: Make this component a library-->
<div tooltip>
  <h3>1 Welcome to my app! </h3>
  <h1>2 Hi!</h1>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!--Dummy elements below to test tooltips on various elements-->
<input 
  type="text" 
  class="form-control"
  [(ngModel)]="3 + username">
  <h2 tooltip step="1" text="Hi!">  4 Welcome {{ username }}! </h2>
<button class="btn btn-primary"
  (click)="username = ''" 
  [disabled]="username === ''">
  Sign up! </button>
  


